body{
    background: #eeeeee;
}
h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 33px;
}
nav{
    text-align: center;
    margin-top: 20px;
}

nav li{
    display: inline;
    font-size: 18px;
    padding: 10px;
    color: black;
    font-family: 'Cinzel', serif;
}
img{
    width: 25%;
    height: 15%;
    float: left;
    padding-right: 25px;
}
h2{
    font-family: 'Antic Didone', serif;
    text-transform: uppercase;
}
h3{
    font-family: 'Antic Didone', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
}
ol li{
    text-transform: uppercase;
    font-family: 'Cardo', serif;
}
.p1{
    font-family: 'Antic Didone', serif;
    font-size: 18px;
    text-align: justify;
    padding-left: 300px;
    margin-right: 200px;
    margin-top: 50px;
    text-indent: 0.8cm;
}
em{
    font-family: 'Cardo', serif;
    font-size: 21px;
}
.col1{
    text-transform: uppercase;
}
.cierre{
    margin-right: 200px;
    padding-left: 300px;
    margin-top: 75px;
    text-align: justify;
}

#cita{
    text-align: right;
}
